* {
  font-family: 'Courier New', monospace;
}

body {
  background-color: lightslategray;
}

.recipe-container {
  padding: 25px 50px;
  background-color: white;
  margin: 0 200px;
  border-radius: 10px;
}

h1,
h2,
ul,
.description,
p {
  text-align: center;
}

/* I did some research on how to center an image and found this */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 200;
}

ul li {
  list-style: none;
}

.description {
  color: yellow;
}

.ingredients {
  color: blue;
}

.steps {
  color: red;
}

h1{
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

p,
li {
  font-size: 20px;
}