* {
  font-family: 'Courier New', monospace;
}

body {
  background-color: lightslategray;
}

ul,
li {
  margin: 0 auto;
}

h1,
li {
  font-weight: 700;
}

ul {
  padding: 0;
}

ul li,
a {
  padding: 10px;
}

a {
  font-size: 25px;
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  padding: 10px;
  background-color: white;
  text-align: center;
  margin: 180px 430px;
  border-radius: 10px;
}

.recipe-one {
  background-color: yellow;
  border-top-style: groove;
}

.recipe-two {
  background-color: blue;
}

.recipe-three {
  background-color: red;
  border-bottom-style: groove;
}

.recipe-one,
.recipe-two,
.recipe-three {
  border-left-style: groove;
  border-right-style: groove;
  border-color: black;
}